.intro-especialidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 0;
    gap: 30px;
}

.intro-especialidades h1 {
    font-size: 22px;
}

.intro-especialidades nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.intro-especialidades a {
    text-decoration: none;
    font-weight: 500;
    color: #0000008c;
    border-bottom: 2px solid #00cad1;
}

.intro-especialidades a:hover {
    color: #478b9f;
}

.escala {
    display: flex;
    height: 240px;
    padding: 0 20px;
}

.escala > table {
    width: 70%;
    height: 100%;
    text-align: left;
    border-spacing: 0;
}

.escala > table > thead {
    background-color: #00cad1;
    color: #fff;
}

.escala >table > tr {
    background-color: #f1f1f1;
    color: #585757;
    font-weight: 500;
}

.escala tbody tr:nth-of-type(2n+1) {
    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
}

.escala table th, .escala table td {
    padding: 10px;
}

.escala > img {
    width: 30%;
    height: 100%;
}

.img-exception {
    height: 480px;
}

@media (max-width: 425px) {
    .escala {
        padding: 0;
    }
    
}

@media (max-width: 768px) {
    .escala img{
        display: none;
    }

    .escala table {
        width: 100%;
    }

    .escala {
        height: auto;
        justify-content: center;
    }
}