/* GERAL */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.texto-maiusculo {
    text-transform: uppercase;
}

h1 {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1024px;
    display: flex;
    justify-content: center;
}

/* TOPO */
.topo {
    background-color: #00cad1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.conteudo-topo {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    min-width: 100px
}

.links-topo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.links-topo a {
    color: #fff;
    text-decoration: none;
}

.links-topo a:hover {
    color: #004b4c;
}

/* CONTEUDO */
.banner {
    background-image: url('/assets/recepcao.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner div {
    border: 3px solid red;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    ;
}

